{% extends "layout.html.twig" %}

{% block title %}Page{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Page</h1>
    <p class="important">
       This is a page
    </p>
{% endblock %}
