{% extends "layout.html.twig" %}

{% block title %}Page{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 id="region1">{{regions.title.value}}</h1>

    <div id="region2">
        {{regions.body.value|raw}}
    </div>
{% endblock %}
